{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% set body_class = 'secondpage page__mypage' %}
{% set baner_title = 'パスワードの再発行(メール送信)' %}

{% extends 'default_frame.twig' %}

{% block stylesheet %}
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css"/>
{% endblock %}
{% block main %}
    <!-- MAIN BODY -->
    <section class="main__body content__mypage">
        <section class="forgot">
            <div class="container">
                <h2 class="ttl clblue">{{ 'パスワード再発行メールの送信が完了しました。'|trans }}</h2>
                <p class="ec-reportDescription">
                    {{ 'ご登録メールアドレスにパスワードを再発行するためのメールを送信いたしました。'|trans }}<br>
                    {{ 'メールの内容をご確認いただきますよう、お願いいたします。'|trans }}<br>
                    {{ '※メールが届かない場合はメールアドレスをご確認の上、再度お試しください。'|trans }}
                </p>
            </div>
        </section>
    </section>
    <!-- /END MAIN BODY -->
{% endblock %}


