{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% set body_class = 'secondpage' %}
{% set baner_title = '個⼈情報保護⽅針' %}

{% extends 'default_frame.twig' %}

{% block main %}
    <!-- MAIN BODY -->
    <section class="main__body content__privacy">
      <section class="privacy">
        <div class="container">
          <h2 class="ttl clblue">個⼈情報保護⽅針</h2>
          <div class="privacy__content">
            <p>当サイトの運営に際し、お客様のプライバシーを尊重し個⼈情報に対して⼗分な配慮を⾏うとともに、⼤切に保護し、適正な管理を⾏うことに努めております。<br></p>
            <ul class="mt20">
              <li>1. 株式会社ニッチカンパニー(以下弊社)は、個⼈情報の保護に関する法令及びその他の規範を遵守し個⼈情報を適正に取りいます。</li>
              <li>2. 株式会社ニッチカンパニー(以下弊社)は、個⼈情報の保護に関する法令及びその他の規範を遵守し個⼈情報を適正に取りいます。</li>
              <li>3. 弊社がお客様の要配慮個⼈情報を必要とする際は、お客様の同意を得た上で取得するものとします。</li>
              <li>4. 弊社は、以下の利⽤⽬的の達成に必要な範囲でお客様の個⼈情報・要配慮個⼈情報を使⽤し、その情報は弊社が厳重に管理いたします。<br>a) お客様から寄せられたお問い合わせに対応する場合<br>b) お客様からご注⽂いただいた商品を発送する場合</li>
              <li>5. 弊社は、個⼈情報の正確性及び最新性を保ち、安全に管理いたします。同時に個⼈情報の紛失、改ざん、漏洩などを防⽌するため、あるいは必要かつ適正な情報セキュリティ対策を実現するため、お客様にご協⼒をお願いする場合があります。</li>
              <li>6. 弊社は、国内外を問わず、ご本⼈の同意を得ずに第三者に情報を提供しません。</li>
              <li>7. 弊社は、お客様(ご本⼈様)が個⼈情報について、開⽰、訂正、利⽤停⽌、消去などを求める権利を有していることを認識し、これらの要求がある場合には、法令に基づき合理的な範囲内において速やかに対応します。</li>
              <li>8. 本規定にて定めております利⽤⽬的が合理的範囲を超える場合には、新規に利⽤⽬的を提⽰するとともにその旨お客様にご連絡し、お客様の同意を得た上で利⽤いたします。</li>
              <li>9. 本規定にて定めております利⽤⽬的が合理的範囲を超える場合には、新規に利⽤⽬的を提⽰するとともにその旨お客様にご連絡し、お客様の同意を得た上で利⽤いたします。</li>
            </ul>
            <p class="mt20"><strong>【Googleアナリティクスの使⽤について】<br></strong>当サイトでは、より良いサービスの提供、またユーザビリティの向上のため、Googleアナリティクスを使⽤し、当サイトの利⽤状況などのデータ収集及び解析を⾏っております。その際、「Cookie」を通じて、Googleがお客様のIPアドレスなどの情報を収集する場合がありますが、「Cookie」で収集される情報は個⼈を特定できるものではありません。<br>収集されたデータはGoogleのプライバシーポリシーにおいて管理されます。<br>なお、当サイトのご利⽤をもって、上述の⽅法・⽬的においてGoogle及び当サイトが⾏うデータ処理に関し、お客様にご承諾いただいたものとみなします。</p>
            <p class="mt20"> <strong>Googleのプライバシーポリシー<br></strong><a href="https://policies.google.com/privacy?hl=ja" target="_blank">https://policies.google.com/privacy?hl=ja<br></a><a href="https://policies.google.com/technologies/partner-sites?hl=ja" target="_blank">https://policies.google.com/technologies/partner-sites?hl=ja</a></p>
            <p class="mt20"> <strong>【個⼈情報に関するお問い合わせ窓⼝】<br></strong>お問合せ先電話番号：<span class="tel-link">0120-295-755</span></p>
            <p>WiFi Tokyo Renatal Shop.</p>
          </div>
        </div>
      </section>
    </section>
    <!-- /END MAIN BODY -->
{% endblock %}
