{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% set body_class = 'secondpage ' %}
{% set baner_title = '特定商取引法に基づく表記' %}

{% extends 'default_frame.twig' %}

{% block main %}
    <!-- MAIN BODY -->
    <section class="main__body content__commerce">
      <section class="commerce">
        <div class="container">
          <h2 class="ttl clblue">特定商取引法に基づく表記</h2>
          <table> 
            <tr>
              <th>販売業者</th>
              <td>Wi-Fi東京レンタルショップ</td>
            </tr>
            <tr>
              <th>運営責任者</th>
              <td>⼤久保 雄⼈</td>
            </tr>
            <tr>
              <th>住所</th>
              <td>〒160-0023<br>東京都新宿区⻄新宿7-18-19新宿税理⼠ビル第⼆別館佐⽵ビル</td>
            </tr>
            <tr>
              <th>電話番号</th>
              <td><a href="tel:0120-295-755">0120-295-755</a></td>
            </tr>
            <tr>
              <th>FAX番号</th>
              <td>03-5937-6861</td>
            </tr>
            <tr>
              <th>メールアドレス</th>
              <td>info@wifi-tokyo-rentalshop.com</td>
            </tr>
            <tr>
              <th>URL</th>
              <td>https://www.wifi-tokyo-rentalshop.com/</td>
            </tr>
            <tr>
              <th>商品以外の必要代⾦</th>
              <td>・消費税（10％をお預かりいたします）<br>・送料⼀律 ￥1,100（発送料⾦・返却⽤レターパック）<br>・振込⼿数料（銀⾏振込みの場合、振込⼿数料はお客様負担となります）<br>・オプション料⾦<br>・端末保証⾦1台に付き￥10,000（※銀⾏振込みでご注⽂いただいたお客様のみ必要となります）<br>・延滞料⾦（レンタル満了⽇の翌⽇にご返却・発送いただけなかった場合、1⽇につき2,000円がかかります）<br>・端末損害⾦（盗難紛失等による貸出機器に損失があった場合、端末損害⾦が発⽣いたします）<br></td>
            </tr>
            <tr>
              <th>注⽂⽅法</th>
              <td>当社ホームページよりお申し込みください。</td>
            </tr>
            <tr>
              <th>⽀払⽅法</th>
              <td>・オンライン上でのクレジットカード決済<br>・Amazon Pay<br>・現⾦払い及び銀⾏振込（⾝分証明書・端末補償⾦10,000円が別途必要になります）<br>※端末補償⾦は端末返却確認後に銀⾏振り込みにてご返⾦となります。（ご返⾦の振込⼿数料(￥160)はお客様負担となります。）</td>
            </tr>
            <tr>
              <th>⽀払期限</th>
              <td>・クレジット決済：商品発送時に決済させていただきます。<br>・Amazon Pay：商品発送時に決済させていただきます。<br>・銀⾏振込：商品発送⽇、当⽇の15時までに、ご⼊⾦をお願い致します。<br>・店頭受取：来店時にクレジットカードまたは現⾦にてお⽀払いください。</td>
            </tr>
            <tr>
              <th>引渡し時期</th>
              <td>・お申込み時に契約希望⽇をご指定できます。<br>レンタル商品を最短で翌⽇に受け取る事ができます。<br>（北海道、九州、沖縄、⼀部の離島はお届けまでに３⽇を要する場合がございますのでご了承ください。）<br>・発送業務は平⽇の17時までにお⼿続きを完了していただければ、ご希望の時間帯に配送できます。<br>※平⽇の17時以降及び⼟⽇祝祭⽇のご注⽂は、翌営業⽇の発送となります。<br>天候不順や交通事情等の理由、その他何らかの理由により遅延する場合は別途連絡いたします。<br>年末年始、ゴールデンウィーク等の繁忙期など交通事情により到着が遅れる場合がありますので、<br>余裕をもってのご注⽂をお勧めいたします。<br>・店頭でのお引渡 10:30時〜18:00時まで（予約制になります、ご来店前にお電話での予約をお願い致します）</td>
            </tr>
            <tr>
              <th>返品・交換について</th>
              <td>・商品発送後のキャンセルはお受けできません。<br>・初期不良品は全て無料交換させて頂きます。その際の送料は当社が負担させて頂きます。<br>・レンタル商品の故障等は、ご連絡頂ければ同⼀機種と交換致します。<br>・故障等のご連絡は速やかにご連絡ください。<br>・次の商品の返品はお受けいたしかねますので、ご了承ください。<br>当社の責に帰さない理由により、破損または故障等が⽣じた場合当社商品出荷⽇より10⽇以上経過した場合<br>※ご利⽤の地域で電波の受信状態、通信制限などの理由での返品・返⾦・交換対応は⾏っておりません。</td>
            </tr>
          </table>
        </div>
      </section>
    </section>
    <!-- /END MAIN BODY -->
{% endblock %}