<section class="simulationft"> 
    <div class="simulation simulation--footer">
        <div class="container">
            <h3 class="simulation--tit">
                <span class="icon">
                    <img src="{{ asset('assets/images/money.svg', 'user_data') }}" alt="シミュレーション結果">
                </span>
                <span>お申込内容</span>
            </h3>
            <div class="simulation--list">
                <div class="travellist">
                    <dl class="dflex">
                        <dt>渡航先①</dt>
                        <dd>期間: 2022/04/20〜04/21<br>国名:シンガポール
                            <span class="arrdow">
                                <img src="{{ asset('assets/images/arr-down.svg', 'user_data') }}" alt="arrow">
                            </span>
                        </dd>
                    </dl>
                    <dl class="dflex">
                        <dt>渡航先②</dt>
                        <dd>期間: 2022/04/20〜04/25<br>国名:マレーシア</dd>
                    </dl>
                </div>
                <div class="simulation--sumary">
                    <div class="totalfee">
                      <dl class="dflex">
                        <dt>合計金額</dt>
                        <dd>3,500円<small>（税込）</small></dd>
                      </dl>
                    </div>
                    <div class="rentalfee">
                      <dl class="dflex">
                        <dt>レンタル料（220円/日）</dt>
                        <dd class="price">ーーーー円</dd>
                      </dl>
                      <dl class="dflex">
                        <dt>安⼼保証料（550円/⽇）</dt>
                        <dd class="price">ーーーー円</dd>
                      </dl>
                      <dl class="dflex">
                        <dt>オプション品料（110円/⽇）</dt>
                        <dd class="price">ーーーー円</dd>
                      </dl>
                    </div>
                </div>
                <div class="mypage--btn simulation--btn">
                    <a class="buttonsubmit bgpink btnarr" href="">送信する</a>
                </div>
            </div>
        </div>
    </div>
</section>